body {
    padding: 200px;
}

.center {
    width: 50%;
    margin: auto;
    text-align: center;
}

.mountain {
    background-image: url("../../../resources/mountain-pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.transparent-block {
    /* Colour */
    background-color: rgba(57, 57, 57, 0.5);
    color: white;

    /* Dimensions */
    height: 300px;
    width: 500px;
    padding-top: 20px;

    /* Others */
    border-radius: 50px;
}

.transparent-block p {
    font-size: 40px;
    margin: ;
}